@import "./variables";

html {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: $link-color;

  &::before {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    transition-property: border-top-width;
    border: 0.25em solid transparentize($link-color, .85);
  }

  &:hover {
    &::before {
      border-top-width: 1em;
    }
  }

  &:active, &.router-link-exact-active {
    color: $link-color-active;

    &::before {
      border-color: transparentize(complement($link-color-active), .85);
    }
  }
}

fieldset {
  border: 2px solid #{$text-color};
  border-radius: 4px;
}

label {
  cursor: pointer;
}

input, textarea {
  font-size: inherit;
  box-sizing: border-box;
  padding: .21em .4em;
  color: grayscale($text-color);
  border: 1px solid invert($background-color);
  border-radius: 4px;
  background-color: $background-color;

  &:disabled {
    background-color: darken($background-color, 15%);
  }

  &[type="submit"], &[type="checkbox"] {
    cursor: pointer;
  }

  &[type="submit"] {
    color: $background-color;
    background-color: $text-color;

    &:disabled {
      color: grayscale($background-color);
      background-color: grayscale($text-color);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
